<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand">{{ title$ | async }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink=''>Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link d-none" href="#">Features</a>
    </div>
  </div>
<toh-serch-bar></toh-serch-bar>
</nav>
