<section class="menu">
  <div class="movie-list">
    <div class="movie-group">
      <h2>Movie list:</h2>
      <ul  class="list-group">
      <li *ngFor="let movie of movies"
            [class.selected]="movie === selectedMovie"(click)="onSelect(movie)" >
       <span >{{movie.id}} </span>{{movie.title}}
       <span >{{movie.poster}} </span>{{movie.synopsis}}
       <span >{{movie.genres}} </span>{{movie.year}}
       <span >{{movie.director}} </span>{{movie.actors}}
       <span >{{movie.hours}} </span>{{movie.room}}
      </li>

      </ul>
    </div>
  </div>
</section>
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
